.header {
    background-color: #1c62caa6;
    padding: 20px;
    text-align: left;
    font-size: 45px;
}

.navigation {
    font-size: 25px;
    margin: 15px;
    text-align: left;
}

.content {
    margin-right: 100px;
    margin-left: 100px;
    font-size: 25px;
    color: aliceblue;
    background-color: #636363;
}

.footer {
    background-color: #1c62caa6;
    padding: 20px;
    text-align: center;
    font-size: 25px;
}

